{% extends "base.html" %}
{% block content %}
  <h3>{{ action }} Database Connection</h3>
  <legend></legend>
  {% from "_formhelper.html" import render_field %}
  <form id="connection-edit-form"
        class="form form-horizontal"
        role="form"
        method=post action="{{ action_url }}">
    <div class="test-box">
      <div class="led led-off"></div>
      <a href="#" class="test-button btn btn-default"
         onclick="DanceCats.Main.db_connect_test_on_click('{{ test_url }}',
             DanceCats.Main.$('#connection-edit-form').serializeArray(),
             DanceCats.Main.$('div.led'))">Test Connection</a>
    </div>
    {{ form.hidden_tag() }}
    <dl class="dl-horizontal">
      {{ render_field(form.type) }}
      {{ render_field(form.name) }}
      {{ render_field(form.host) }}
      {{ render_field(form.port) }}
      {{ render_field(form.user_name) }}
      {{ render_field(form.password) }}
      {{ render_field(form.database) }}
      <br/>
      <dt></dt>
      <dd>
        <input class="btn btn-primary" type=submit value="Save">
      </dd>
    </dl>
  </form>
{% endblock %}