WTF_CSRF_ENABLED = True
SECRET_KEY = 'dance cat is dancing'

DB_ENCRYPT_KEY = 'dance cat is trying to dance'
DB_TIMEOUT = 120

FREQUENCY_PID = '<path/to/your/frequency.pid>'

QUERY_TEST_LIMIT = 100

JOB_RESULT_VALID_SECONDS = 86400

SQLALCHEMY_DATABASE_URI = 'mysql+mysqlconnector://dancecat:dancecat_password@127.0.0.1/dancecat'
SQLALCHEMY_TRACK_MODIFICATIONS = False

REDISLITE_PATH = '<path/to/redis/file.db>'
REDISLITE_WORKER_PID = '<path/to/redis/worker.pid>'

MAIL_SERVER = 'your-mail-server'
MAIL_PORT = 465
MAIL_USE_SSL = True
MAIL_USERNAME = 'your-user-name'
MAIL_PASSWORD = 'your-password'
MAIL_DEFAULT_SENDER = 'your-default-sender'
