WTF_CSRF_ENABLED = True
SECRET_KEY = 'dance cat is dancing'

DB_ENCRYPT_KEY = 'dance cat is trying to dance'
DB_TIMEOUT = 120

QUERY_TEST_LIMIT = 100

SQLALCHEMY_DATABASE_URI = 'mysql+mysqlconnector://dancecat:dancecat_password@127.0.0.1/dancecat'
SQLALCHEMY_TRACK_MODIFICATIONS = False

REDISLITE_PATH = '<path/to/redis/file.db>'
