from DanceCat import app, socket_io

if __name__ == '__main__':
    socket_io.run(app,
                  host='0.0.0.0',
                  port=8443,
                  debug=True,
                  # For SSL
                  # keyfile='DanceCat.key'
                  # certfile='DanceCat.cert'
                  )
