"""
Running script for DanceCat
"""
import os
# Just in case proxy server do not work.
# from werkzeug.contrib.fixers import ProxyFix
from DanceCat import app, socket_io, rdb, \
    Views, ErrorViews, Socket, FrequencyTaskChecker

# In case of `code 400, message Bad request`
# os.putenv('LANG', 'en_US.UTF-8')
# os.putenv('LC_ALL', 'en_US.UTF-8')

# For SSL
# KEY_FILE = os.environ['KEY_FILE']
# CERT_FILE = os.environ['CERT_FILE']

# Just in case proxy server do not work.
# app.wsgi_app = ProxyFix(app.wsgi_app)

FrequencyTaskChecker.start(
    interval=app.config.get('FREQUENCY_INTERVAL_SECONDS', 60),
    pid_path=app.config.get('FREQUENCY_PID', 'frequency.pid')
)

with app.app_context():
    rdb.start_worker()

socket_io.run(app,
              host='0.0.0.0',
              port=8443,
              debug=True,
              # For SSL
              # keyfile=KEY_FILE,
              # certfile=CERT_FILE
              )
