{
  "name": "dance_cat",
  "version": "0.0.6",
  "description": "Data Reporting",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "keywords": [
    "data",
    "reporting"
  ],
  "repository": {
    "type": "git",
    "url": "https://github.com/scattm/DanceCat"
  },
  "author": "Nguyen Trong Nghia <ntngh2712@gmail.com>",
  "license": "MIT",
  "devDependencies": {
    "babel-core": "^6.10.4",
    "babel-loader": "^6.2.4",
    "babel-preset-es2015": "^6.9.0",
    "babel-preset-react": "^6.11.1",
    "css-loader": "^0.23.1",
    "//": "revert css-loader to 0.18.0 if there are any issue",
    "file-loader": "^0.9.0",
    "less": "^2.7.1",
    "less-loader": "^2.2.3",
    "node-sass": "^3.8.0",
    "postcss-loader": "^0.9.1",
    "sass-loader": "^4.0.0",
    "style-loader": "^0.13.1",
    "webpack": "^1.13.1"
  },
  "dependencies": {
    "autosize": "^3.0.15",
    "bootstrap": "^3.3.6",
    "browserify": "^13.0.1",
    "codemirror": "^5.16.0",
    "eonasdan-bootstrap-datetimepicker": "^4.15.35",
    "jquery": "^2.2.4",
    "react": "^15.1.0",
    "react-dom": "^15.1.0",
    "socket.io-client": "^1.4.8"
  }
}
