alembic==0.8.7
apipkg==1.4
blinker==1.4
click==6.6
coverage==4.0.3
et-xmlfile==1.0.1
eventlet==0.19.0
execnet==1.4.1
Flask==0.11.1
Flask-Compress==1.3.0
Flask-Excel==0.0.5
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==2.0.0
Flask-Redislite==0.1.1
Flask-Script==2.0.5
Flask-SocketIO==2.6.2
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
greenlet==0.4.10
itsdangerous==0.24
jdcal==1.2
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
odfpy==0.9.6
openpyxl==2.3.5
pep8==1.7.0
psutil==4.3.0
psycopg2==2.7.3
py==1.4.31
pycrypto==2.6.1
pyexcel==0.2.4
pyexcel-io==0.2.1
pyexcel-ods==0.2.0
pyexcel-webio==0.0.7
pyexcel-xls==0.2.0
pyexcel-xlsx==0.2.0
pymssql==2.1.3
pytest==2.9.2
pytest-cache==1.0
pytest-cov==2.3.0
pytest-pep8==1.0.6
python-coveralls==2.7.0
python-dateutil==2.5.3
python-editor==1.0.1
python-engineio==1.0.0
python-socketio==1.5.0
PyYAML==3.11
redis==2.10.5
redis-collections==0.3.0
redislite==3.0.296
requests==2.11.1
rq==0.6.0
sh==1.11
six==1.10.0
SQLAlchemy==1.0.14
texttable==0.8.4
Werkzeug==0.11.10
WTForms==2.1
xlrd==1.0.0
xlwt==1.1.2
setproctitle==1.1.10
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.1.7.tar.gz
