#!/bin/bash
##### SSL Config #####
export KEY_FILE=</path/to/key/file>
export CERT_FILE=</path/to/cert/file>
export CONFIG_FILE=</path/to/config/file>

source </path/to/your/virtualenv>/bin/activate

python </path/to/your>/DanceCat.py
