#!/bin/bash

source </path/to/your/virtualenv>/bin/activate
export CONFIG_FILE=</path/to/config/file>
export PYTHONPATH=</path/to/your/DanceCats>:${PYTHONPATH}

cd </path/to/your/DanceCats>
py.test tests --pep8 DanceCats -v --cov DanceCat --cov-report term-missing
