<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- favorite icon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  <!-- script -->
  <script type="text/javascript"
          src="{{ url_for('static', filename='bundle/DanceCat.Main.js') }}"
          charset="utf-8"></script>
  <script type="text/javascript"
          src="{{ url_for('static', filename='bundle/DanceCat.Constants.js') }}"
          charset="utf-8"></script>
  {% block pre_script %}{% endblock %}
  <div class="container">
    <div class="masthead">
      <nav>
        <ul class="nav nav-justified">

          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('job') }}">Jobs</a></li>
            <li><a href="{{ url_for('connection') }}">DB Connection</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
          {% endif %}
          <li><a href="{{ url_for('index') }}">About</a></li>
        </ul>
      </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert {{ category }} fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
  </div>
  <!-- post script -->
  {% block post_script %}{% endblock %}
</body>
</html>
