{% extends "base.html" %}
{% block content %}
  <a class="btn btn-success top-margin-20" href="{{ url_for('job_create') }}">
    New Job
  </a>
  <hr/>
  <h3>Jobs List</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Job Name</th>
          <th>Connection</th>
          <th>Created By</th>
          <th>Updated On</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for job in jobs %}
        <tr>
          <td>{{ job.name }}</td>
          <td>{{ job.connection_name }}</td>
          <td>{{ job.user_email }}</td>
          <td>{{ job.last_updated }}</td>
          <td>
            <a href="#"
               id="job-run-btn"
               onclick="DanceCat.Main.job_trigger_on_click('{{ trigger_url }}', {{ job.id }})"
            >Run</a> |
            <a href="{{ url_for('job_edit', job_id=job.id) }}">
              Edit
            </a> | Delete
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
{% block post_script %}
  <script type="text/javascript">

  </script>
{% endblock %}