{% extends "base.html" %}
{% block content %}
  <div class="form-main">
    <h3>{{ action }} Job</h3><legend></legend>
    {% from "query_job/_formhelper.html" import render_field, render_checkbox %}
    <form id="job-form"
          role="form"
          method=post
          class="job-form"
          action="{{ action_url }}">
      {{ form.hidden_tag() }}
      {{ render_field(form.name, class="form-control") }}
      {{ render_field(form.annotation, class="form-control") }}
      {{ render_field(form.connection_id, class="form-control") }}
      {{ render_field(form.query_string, class="form-control") }}
      {{ render_field(form.query_time_out, class="form-control") }}
      <label>{{ form.schedules.label }}</label>
      <hr/>
      <div class="form-group job-schedule-field-list col-sm-7">
        <button class="btn btn-success bot-margin-10"
                type="submit"
                name="add-schedule">
          <span class="glyphicon glyphicon-plus"></span> New schedule
        </button>
        {% for e in form.schedules %}
          <div class="job-schedule-form">
            {{ e.hidden_tag() }}
            {{ render_field(e.schedule_type, class="form-control") }}
            {{ render_field(e.next_run, class="form-control schedule-field") }}
            {{ render_checkbox(e.is_active) }}
            <span class="glyphicon glyphicon-remove delete link-pretender"
                  onclick="DanceCats.Main.$(this).parent().remove()"
            ></span>
          </div>
        {% endfor %}
      </div>
      <label>{{ form.emails.label }}</label>
      <hr/>
      <div class="form-group job-email-to-field-list col-sm-8">
        {% for e in form.emails %}
          {% if e == form.emails[0] %}
            {{ e(class="form-control right-margin-10")|safe }}
            <button class="btn btn-success mail-to-add-more"
                    type="submit"
                    name="add-email">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          {% else %}
            {{ e(class="form-control top-margin-10")|safe }}
          {% endif %}
          {% if e.errors %}
            <ul class=errors>
              {% for error in e.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-3">
          <input class="btn btn-primary" type=submit value=Save>
        </div>
        <div class="col-sm-9">
          <a class="btn btn-success pull-right"
             id="run-query-btn"
          >Run</a>
        </div>
      </div>
    </form>
  </div>
  <div class="container query-result" id="dc-query-result">
  </div>
{% endblock %}
{% block post_script %}
  <script type="text/javascript">
    var socket = DanceCats.Main.ws_connect('{{ url_for('index') }}');
    DanceCats.Main.AutoSize(document.getElementById('annotation'));
    var queryTextArea = document.getElementById('query_string');
    var queryCodeMirror = DanceCats.Main.CodeMirror.fromTextArea(
      queryTextArea, {
        mode: 'text/x-sql',
        indentWithTabs: true,
        smartIndent: true,
        lineNumbers: true,
        extraKeys: {"Ctrl-Space": "autocomplete"},
        theme: "ttcn"
      }
    );

    queryCodeMirror.on('change', function(cm) {
      queryTextArea.value = cm.getValue();
    });

    var $runQueryBtn = DanceCats.Main.$(document.getElementById('run-query-btn'));
    $runQueryBtn.click( function(){
      $runQueryBtn.addClass('disabled');

      let sendingData = {
        query: queryTextArea.value,
        connectionId: document.getElementById('connection_id').value
      };

      socket.emit(DanceCats.Constants.WS_QUERY_SEND, sendingData);
    } );

    var dateTimePickers = DanceCats.Main.$('.schedule-field');
    DanceCats.Main.$.each(dateTimePickers, function() {
      DanceCats.Main.Flatpickr(this, {enableTime: true});
    })
  </script>
  <script type="text/javascript"
          src="{{ url_for('static', filename='bundle/DanceCats.QueryResults.js') }}"
          charset="UTF-8"
          ></script>
{% endblock %}
