{% extends "base.html" %}
{% block content %}
  <div class="form-main">
    <h3>{{ action }} Job</h3><legend></legend>
    {% from "query_job/_formhelper.html" import render_field %}
    <form id="job-form"
          role="form"
          method=post
          class="job-form"
          action="{{ action_url }}">
      {{ form.hidden_tag() }}
      {{ render_field(form.name, class="form-control") }}
      {{ render_field(form.annotation, class="form-control") }}
      {{ render_field(form.connectionId, class="form-control") }}
      {{ render_field(form.queryString, class="form-control") }}
      <div class="form-group job-email-to-field-list col-md-6">
        <label>{{ form.emails.label }}</label>
        {% for e in form.emails %}
          {{ e(class="form-control form-control-mail-to")|safe }}
          {% if e.errors %}
            <ul class=errors>
            {% for error in e.errors %}
              <li>{{ error }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-3">
          <input class="btn btn-primary" type=submit value=Save>
        </div>
        <div class="col-sm-9">
          <a href="#"
             class="btn btn-success pull-right"
             id="run-query-btn"
          >Run</a>
        </div>
      </div>
    </form>
  </div>
  <div class="container query-result" id="dc-query-result">
  </div>
{% endblock %}
{% block post_script %}
  <script type="text/javascript">
    var socket = DanceCat.Main.ws_connect('{{ url_for('index') }}');
    DanceCat.Main.AutoSize(document.getElementById('annotation'));
    var queryTextArea = document.getElementById('queryString');
    var queryCodeMirror = DanceCat.Main.CodeMirror.fromTextArea(
        queryTextArea, {
          mode: 'text/x-sql',
          indentWithTabs: true,
          smartIndent: true,
          lineNumbers: true
        });

    queryCodeMirror.on('change', function(cm) {
      queryTextArea.value = cm.getValue();
    });

    var $runQueryBtn = DanceCat.Main.$(document.getElementById('run-query-btn'));
    $runQueryBtn.click( function(){
      $runQueryBtn.addClass('disabled');

      let sendingData = {
        query: queryTextArea.value,
        connectionId: document.getElementById('connectionId').value
      };

      socket.emit(DanceCat.Constants.WS_QUERY_SEND, sendingData);
    } );
  </script>
  <script type="text/javascript"
          src="{{ url_for('static', filename='bundle/DanceCat.QueryResults.js') }}"
          charset="UTF-8"
          ></script>
{% endblock %}
