<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- style -->
</head>
<body>
  <div class="container">
    <h1>Dance Cat - Data Reporting</h1>
    <br>
    <div id="content"></div>
    <!-- script -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
  </div>
</body>
</html>